@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* MENU */
.conteudo-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.conteudo-header header {
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
}
.conteudo-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.conteudo-header header ul {
    display:flex;
    list-style: none;
}
.conteudo-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
}
.conteudo-header header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsiva {
background-color: #1CB698;
color: #fff;
padding: 5px 10px;
border-radius: 5px;
cursor: pointer;
display: none;
}

/* INICIO */
.inicio {
 background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
url(img/fundo.jpg);
background-size: cover;
height: 100vh;
color: #fff;
display: flex;
align-items: center;
}

.inicio .conteudo-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.inicio .conteudo-banner img{
    margin-top: 40px;
    border: 5px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .conteudo-banner .conteudo-img img{


    }






.inicio .conteudo-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .conteudo-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .conteudo-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42%;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 3s;
}
.inicio .conteudo-banner .redes a:hover{
    background-color: #1CB698;
}

.sobremim {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremim .conteudo-seccion{
    max-width: 1110px;
    margin: auto;
}
.sobremim h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.sobremim .conteudo-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremim .conteudo-seccion p span {
    color: #1CB698;
    font-weight: bold;
}

.sobremim .fila{
    display: flex;
}
.sobremim .fila .col{
    width: 50%;
}

.sobremim .fila .col h3{
font-size: 28px;
font-family: 'Righteous';
margin-bottom: 25px;
}
.sobremim .fila .col ul{
    list-style: none;
}
.sobremim .fila .col ul li {
    margin: 12px 0;
}

.sobremim .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremim .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremim .fila .col .conteudo-interesses{
    display: flex;
    flex-wrap: wrap;
}
.sobremim .fila .col .conteudo-interesses .interesse{
width: 100px;
height: 100px;
background-color: #252a2e;
border-radius: 10px;
margin: 0 15px 15px 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: .3s;
}
.sobremim .fila .col .conteudo-interesses .interesse:hover {
    background-color: #1CB698;
}

.sobremim .fila .col .conteudo-interesses .interesse i {
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremim button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremim button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremim button:hover .overlay{
    width: 100%;
}
/* SECTION SKILLS*/

.skills {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}
.skills .conteudo-seccion{
    max-width: 1110px;
    margin: auto;
}
.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}
.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progresso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/*java scipt vai funcionar aqui */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 55%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 78%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 25%;}
}
.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 25%;}
}
.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 80%;}
}
.skills .skill .comunicação{
    width: 0%;
    animation: 2s comunicação forwards;
}
@keyframes comunicação {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .trabalho{
    width: 0%;
    animation: 2s trabalho forwards;
}
@keyframes trabalho {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .criatividade{
    width: 0%;
    animation: 2s criatividade forwards;
}
@keyframes criatividade {
    0%{width: 0%;}
    100%{width: 78%;}
}

.skills .skill .dedicação{
    width: 0%;
    animation: 2s dedicação forwards;
}
@keyframes dedicação {
    0%{width: 0%;}
    100%{width: 100%;}
}
.skills .skill .projeto{
    width: 0%;
    animation: 2s projeto forwards;
}
@keyframes projeto {
    0%{width: 0%;}
    100%{width: 100%;}
}
/*CURRICULO*/
.curriculo {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculo .conteudo-seccion{
    max-width: 1110px;
    margin: auto;
}
.curriculo h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.curriculo .fila{
    display: flex;
    justify-content: space-between;
}
.curriculo .fila .col {
    width: 49%;
    padding: 0 20px;
}
.curriculo .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculo .fila .esquerda{
    border-right: 2px solid #252a2e;
}
.curriculo .fila .direita{
    border-left: 2px solid #252a2e;
}
.curriculo .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}
.curriculo .fila .item .h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculo .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculo .fila .item .casa .subtitulouscs {
    color: #1CB698;
    font-size: 17px;
    font-weight: bold;
    display: block;
    word-break: normal;


}
.curriculo .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculo .fila .item p {
    line-height: 24px;
}
.curriculo .fila .esq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.curriculo .fila .dir{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculo .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculo .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculo .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculo .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION PORTIFOLIO */
.portfolio {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .conteudo-seccion{
    max-width: 1110px;
    margin: auto;
}
.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .projeto {

    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .projeto img {
    width: 100%;
    display: block;
}
.portfolio .galeria .projeto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .projeto .overlay h3{

    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .projeto .overlay:hover {

opacity: 1;

}
.portfolio .galeria .projeto .overlay:hover h3{

    margin-bottom: 0px;
}
/*CONTATO*/
.contato{
    background-image:url(img/contato.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contato .conteudo-seccion{
    max-width: 1100px;
    margin: auto;
}
.contato h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contato .fila{
    display: flex;
}
.contato .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contato .col input, .contato .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color:#fff;
    font-size: 18px;
}
.contato button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contato button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contato button:hover .overlay{
    width: 100%;
}
.contato .col img{
    width: 100%;
}
.contato .col .info{
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contato .col .info ul{
   list-style: none;
}
.contato .col .info ul li{
    margin-bottom: 20px;
}
.contato .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right:20px ;
}
footer{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42%;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 3s;
}
footer .cima{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* RESPONSIVIDADE */
@media screen and (max-width:980px) {
 nav{
    display: none;
 }
 .nav-responsiva{
display: block;
 }
 nav.responsive{
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 180px;
 }
 nav.responsive ul{
display: block !important;
 }
 nav.responsive ul li{
    border-bottom: 1px solid #fff;
    padding: 10px 0;
 }


 }
 @media screen and (max-width:700px)
{
    .sobremim .fila{
        display: block;

    }
    .sobremim .fila .col{
        width: fit-content;
    }
    .skills .fila {
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .curriculo .fila{
        display: block;
    }
    .curriculo .fila .col {
        width: 90%;
    }
    .curriculo .fila .direita{
        margin-left: 20px;
    }
    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .projeto{
        max-width: 100%;
    }
    .portfolio .galeria .projeto img{
        width: 100%;
    }
    .contato .fila{
        display: block;
    }
    .contato .fila .col{
        width: 100%;
    }
}

.certificado {
    cursor: pointer;
            background-color: transparent;
            color: #1CB698;

            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
